* {
    padding: 0;
    margin: 0;
}


.img {
    border-radius: 30%;
    height: 50px;
}


header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 60px;
    padding: 0;
    margin: 0;
}

header ul li h2 {
    color: #fff;
    cursor: pointer;
    border-radius: 15%;
    box-shadow: 0 0 20px rgb(46, 46, 226), 0 0 40px rgb(7, 7, 73);
}

header a {
    text-decoration: none;
}


.input-box input {
    box-sizing: border-box;
    width: 250px;
    margin-top: 4px;
    margin-bottom: 10px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
}

.input-box input::placeholder {
    color: rgb(7, 7, 73);
    background-color: transparent;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color:  rgb(3, 3, 92);;
}


.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
}

.grid2 h2 {
    font-size: 40px;
    color: rgb(7, 7, 73);
    text-align: center;
}

.center {
    padding: 100px 1%;
}


.image {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: small;
}

.image img {
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(46, 46, 226), 0 0 40px rgb(7, 7, 73);
    overflow: hidden;
    animation: hello 1.5s infinite alternate;
}


@keyframes hello {
    0% {
        box-shadow: 0 0 20px rgb(46, 46, 226), 0 0 40px rgb(7, 7, 73);
    }
    100% {
        box-shadow: 0 0 40px rgb(46, 46, 226), 0 0 90px rgb(7, 7, 73);
    }
}


@media (max-width: 1200px) {

    header ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 20px;
        padding: 0;
        margin: 0;
    }
    .grid2 {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 880px) {

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 720px) {

    .grid {
        grid-template-columns: 1fr;
    }
    .grid2 {
        grid-template-columns: 1fr;
    }
    header ul {
        display: grid;
        grid-template-columns: repeat(3 auto);
    }
}

@media (max-width: 576px) {

    .grid2 {
        grid-template-columns: 1fr;
    }
    header ul {
        display: grid;
        grid-template-columns: repeat(3 auto);
    }
}

